/* CSS Document */
div.button_color_1
	{
		background: -moz-linear-gradient(15deg, hsla(215,68%,10%,0.24) 70%, rgba(46,81,126,1.00) 100%);
		background: -webkit-linear-gradient(15deg, hsla(215,68%,10%,0.24) 70%, rgba(46,81,126,1.00) 100%);
		background: -o-linear-gradient(15deg, hsla(215,68%,10%,0.24) 70%,  rgba(46,81,126,1.00) 100%);
		background: -ms-linear-gradient(15deg, hsla(215,68%,10%,0.24) 70%, rgba(46,81,126,1.00) 100%);
		background: linear-gradient(15deg, hsla(215,68%,10%,0.24) 70%,  rgba(46,81,126,1.00) 100%);
		color:#7AA4CC;
		}
 a.parter_botton
{
	text-transform:uppercase;
	margin:10px;
	padding:15px;	
	cursor:pointer;
	display:block;
	text-decoration:none;
	color:white;
	/*font-weight:900;*/
	font-size:0.9em;
	
	}
 div.stat
{
	/*position:fixed;
	width:228px;*/
	
	
	}
a.parter_botton:hover
{

	 background: -webkit-linear-gradient(15deg, hsla(215,68%,10%,0.24) 50%, rgba(156,134,57,1.00) 100%);
	 background: -moz-linear-gradient(15deg, hsla(215,68%,10%,0.24) 50%, rgba(156,134,57,1.00) 100%);
	 background: -o-linear-gradient(15deg, hsla(215,68%,10%,0.24) 50%, rgba(156,134,57,1.00) 100%);
	 background: linear-gradient(15deg, hsla(215,68%,10%,0.24) 50%,  rgba(156,134,57,1.00) 100%);
	 color:#CCCB7A;
	}
table.table_partner  tr td table a, span.gold
{
	color:#CCBF7A;
	white-space: nowrap;
	text-shadow: 0px 0px 13px rgba(211, 188, 151, 0.98);
	text-decoration:none;
	}

table.table_partner
{
	/*margin:10px 10px 10px 230px;*/
	vertical-align:top;
}
table.table_partner tr td div.diagram img
{
	margin: 10px auto;
	display: inherit;
}


table.table_partner  tr td table.inside_table
{
	width:100%;
	}
table.table_partner  tr td table.inside_table tr th
{
	text-transform:uppercase;
	color:#CCBF7A;
	text-align:center;
	text-shadow: 0px 0px 13px rgba(211, 188, 151, 0.98);
	text-decoration:none;
	
	}
table.table_partner tr td table.inside_table tr td
{
	padding:5px;
	border-bottom:1px dotted hsla(0,0%,53%,0.73);
	text-align:center;
	vertical-align: middle;
	font-size:16px;
	}
table.table_partner  tr td div.text_block
{
	margin:10px;
	font-size:1.2em;
	}
table.table_partner  tr td div.blok_self
{
	
	margin:15px;
	border-bottom:hsla(232,46%,22%,1.00) 3px groove;
	}